{% extends "layout.html" %}

{% block title %}
    HOME
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Shares</th>
                <th>Price</th>
                <th>TOTAL</th>
                <th>Time</th>
            </tr>
        </thead>
        <tbody>
            {% if logs%}
                {% for item in logs %}
                    <tr>
                        <td>{{ item['symbol'] }}</td>
                        <td>{{ item['name'] }}</td>
                        <td>{{ item['shares'] }}</td>
                        <td>{{ item['prices'] }}</td>
                        <td>{{ item['total'] }}</td>
                        <td>{{ item['time'] }}</td>
                    </tr>
                {% endfor%}
            {% endif %}

        </tbody>
    </table>
{% endblock %}